<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Names</h4>
                <ul>
                    <li> <a href="index.html">About us</a> </li>
                    <li> <a href="page1.html">Our services</a> </li>
                    <li> <a href="page1.html">Privacy policey</a> </li>
                    <li> <a href="page1.html">Affiliate program</a> </li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Kontak</h4>
                <ul>
                    <li> <a href="#">tel: +45 22334455</a> </li>
                    <li> <a href="#">adresse: rødkilevej 11</a> </li>
                    <li> <a href="#">email: madspile@mad.dk</a> </li>
                    <li> <a href="#">CVR nr 38 21 72 91</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Social Media</h4>
                <div class="social-link">
                    <a href="#"> <i class="fab fa-facebook-f"> </i> </a>
                    <a href="#"> <i class="fab fa-twitter"> </i> </a>
                    <a href="#"> <i class="fab fa-github"> </i> </a>
                    <a href="#"> <i class="fab fa-discord"> </i> </a>
                    <a href="#"> <i class="fab fa-youtube"> </i> </a>
                </div>

            </div>
        </div>
    </div>
</footer>

</body>
</html>